{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .navbar {
            background-color: ghostwhite;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid dimgray;
        }

        .navbar-nav .nav-link {
            transition: background-color 0.3s, color 0.3s;
        }

        .navbar-nav .nav-link:hover {
            background-color: gray;
            color: white;
            border-radius: 8px;
        }

        .navbar-brand {
            color: dimgray;
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailing:home' %}">
            <img src="{% static 'images/mailing_manager_favicon.png' %}" style="height: 40px;">
            MailingManager
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not is_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:recipient_list' %}">Получатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:message_list' %}">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:list_users' %}">Пользователи</a>
                </li>
                {% endif %}
                
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text me-2" style="line-height: 55px;">{{ user.email }}</span>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" class="rounded-circle"
                                     style="height: 40px; width: 40px;" alt="avatar">
                            {% else %}
                                <img src="{% static 'images/default_avatar.png' %}" class="rounded-circle"
                                     style="height: 40px; width: 40px;" alt="avatar">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'users:profile_form' %}">Профиль</a></li>
                            <li>
                                <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Выход</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>