{% extends 'base.html' %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
<h2 class="mb-4">Список рассылок</h2>
<a href="{% url 'mailing:mailing_create' %}" class="btn btn-success">Добавить рассылку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Получатели</th>
            <th>Тема сообщения</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for mailing in mailings %}
        <tr>
            <td>
                {% for recipient in mailing.recipients.all %}
                    {{ recipient }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ mailing.message.subject|truncatechars:20 }}</td>
            <td>{{ mailing.status }}</td>
            <td>
                <form action="{% url 'mailing:send_mailing' mailing.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                <a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}